<ion-tabs>
  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="coming-soon">
      <ion-icon name="copy-outline"></ion-icon>
      <ion-label>Coming Soon</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="downloads">
      <ion-icon name="download-outline"></ion-icon>
      <ion-label>Downloads</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
